#no IDE files
.vscode
.idea

#no test coverage reports
.coverage
htmlcov

#no PyCache
__pycache__
*.pyc

#no dev CLI helper scripts
__run__.py

#don't put user-specific settings on the repo
user_settings.py

#don't include oracle results file
*.ps

#do not include the sequence output
sequences/*

#do not include images
*.svg
